html, body {
  margin: 0;
  height: 100vh;
  font-family: "Work Sans", sans-serif;
}

body {
  min-height: 100vh;
  margin: 0;

  background:
    url("./faq-accordion-main/assets/images/background-pattern-mobile.svg")
    no-repeat top center / contain,
    hsl(275, 100%, 97%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.accordion-container {
    background-color: white;
    max-width: 19rem;
    border-radius: 10px;
    padding: 1.5rem;
}

.faqs-flex {
    display: flex;
    gap: 2rem;
    color: hsl(292, 42%, 14%);
}

.star {
    width: 1.8rem;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: hsl(292, 42%, 14%);
}

.accordion-header:hover {
    cursor: pointer;
    color: hsl(293, 69%, 63%);
}

h3 {
    font-size: 1rem;
    padding-right: 0.1rem;
}

p {
    font-size: 0.9rem;
}

.accordion-content {
    color: hsla(292, 16%, 49%, 0.6);
    font-weight: 500;
    line-height: 1.1;
    display: none;
    max-height: 0;
    transition: max-height 1s ease;
    overflow: hidden;
}

.accordion-contents {
    color: hsla(292, 16%, 49%, 0.6);
    font-weight: 500;
    line-height: 1.1;
    display: block;
    max-height: 1000px;
    transition: max-height 1s ease;
    overflow: hidden;
}

.accordion-contents.active {
    display: none;
    max-height: 0;
}

.accordion-content.active {
    display: block;
    max-height: 1000px;
}

@media screen and (min-width:600px) {
    .accordion-container {
        max-width: 21rem;
    }
    
    .star {
        width: 2.1rem;
    }

    .faqs {
        font-size: 2.3rem;
    }

    h3 {
        font-size: 1.1rem;
    }

    p {
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 900px) {
    body {
        background: url("./faq-accordion-main/assets/images/background-pattern-desktop.svg") no-repeat top center / contain, hsl(275, 100%, 97%);
    }

    .accordion-container {
        max-width: 30rem;
    }
}